*{
    margin:0;
    padding:0;
    font-family: "Poppins",sans-serif;
}

#my_books_link #link_text{
    background-color: rgba(207, 204, 204, 0.967);
    padding: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    right: auto;
    color: black;
    text-decoration: none;
}

.bxs-bookmark-heart{
    font-size: 30px;
    color: black;
    padding-right: 10px;
}

.upper_block{
    background-image: url(background_img.jpg);
    
    background-size: cover;
    min-height: 50vh;
    padding: 20px;
    color: hsl(0, 0%, 50%, 1);
}

#qoute{
    font-family: "Bodoni Moda",serif;
    color: whitesmoke;
    text-align: center;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 50px;
    text-shadow:
        0.08em 0 black,
        0 0.08em black;
}

.book_search{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 20px 30px 20px 20px;
    width: 500px;
    height: 30px;
    background: whitesmoke;
    border-radius: 5px;
}

.book_search:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.book_search input{
    width:100%;
    height: 100%;
    background: whitesmoke;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    color: rgb(57, 55, 55);
    padding: 5px;
    right: 10px;
    bottom: 10px;
    transform: translateY(-10%);
}
    

input{
    display: flex;
    align-items: center;
}

.book_search button{
    background: transparent;
    border: 0;
    outline: 0; 
}

.book_search button .bx-search{
    width: 25;
    color: #555;
    font-size: 22px;
    cursor:pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transform: translateY(-40%);
    
    
    
}

input .bx-search{
    
}

.book_item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.book_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: peachpuff;
}

.book_list .book_item {
    
    width:200px;
    margin: 20px ;
    display:block;
    border-radius: 12px;
    background: whitesmoke;
    padding:15px;
    text-decoration: none;
    float: left 
}

.book_list .book_item .book_image{
    width:100%;
    aspect-ratio: 9/16;
    border-radius: 12px;
    object-fit: cover;
}

/*
bookItem
book_image
book_genre
book_title
book_button
*/

.book_image{
    padding-bottom: 20px;
}

.book_genre{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    border-radius: 50px;
    background-color: darkgoldenrod;
    color: whitesmoke;
}

.book_title {
    padding: 5px;
    padding-top: 10px;
    font-family: "Tahoma", sans-serif;
}

.book_list .book_button{
    display:block;
    padding: 10px;
    border-radius: 8px;
    border-color: transparent;
    background-color: lightgrey;
}

.book_button{
    border-color: lightgrey;
    padding:3%;
}

.book_button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Top-right corner position for Page Appearance Settings (Dark Mode) */
#dark-topright{
    color: black;
    position:absolute;
    padding:10px;
    top:0;
    right:0;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.973);
    background-color: rgb(3, 37, 9);
    padding: 10px;
}

/* Dark Mode feature */
.dark_mode .book_container{  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(52, 29, 29);
}