body *:not(script){
    margin:0;
    padding:0;
    font-family: "Poppins",sans-serif;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(background_img.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    color: white;
    padding: 30px 40px;
    border-radius: 10px;
    background-blend-mode: soft-light;
    background: rgba(2, 53, 8, 0.7);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    & h1{
        font-size: 36px;
        text-align: center;
    }

    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

#custom-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    min-height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;

    & tbody{
        height: 50px;
        font-weight: bold;


        & th{
            border-right: 1px solid rgb(200, 199, 199);
            background-color: lightgrey;
            color: rgb(31, 31, 31);
            text-align: center;
            font-weight: bold;
        }
    }

    & tr{
        & td{
            color: black;
            font-weight: 540;
            text-align: center;
            border-bottom: 1px solid lightgrey;
            border-right: 1px solid lightgrey;
        }

        &:nth-of-type(odd){
            background-color: whitesmoke;
        }

        &:nth-of-type(even){
            background-color: white;
        }
    }
}

.entry{
    padding-bottom: 10px;

    & > dt, dd {
        display: inline-block;
        width: calc(50% - 0.5rem);
        margin: 0;
    }

    & > dt {
        text-align: right;
        padding-right: 10px;

        color: gray;
        font-weight: bold;
    }

    & > dd{
        white-space: nowrap;

        color: white;
    }
}

/* Top-right corner position for Page Appearance Settings (Dark Mode) */
#dark-topright{
    color: black;
    position:absolute;
    padding:10px;
    top:0;
    left:0;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.973);
    background-color: rgb(3, 37, 9);
    padding: 10px;
}

.dark_mode .wrapper{
    width: 420px;
    background: rgb(5, 30, 10);
    color: rgb(23, 44, 26);
    padding: 30px 40px;
    border-radius: 10px;
    background-blend-mode: soft-light;
    background-color: rgba(172, 227, 178, 0.7);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgb(10, 10, 10);
}

.dark-special .body{
    background-color: black;
    color: white
  }