*{
    margin:0;
    padding:0;
    font-family: "Poppins",sans-serif;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(182, 179, 179, 0.967);
    padding: 10px;
    color: black;
    gap: 10px;
}

#dark-topright {
    margin-right: auto;
}

#logout {
    padding: 10px;
}

#logout a, #dark-topright label {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: large;
}

#view_users {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#view_users #user_link_text {
    background-color: lightgrey;
    padding: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    right: auto;
    color: rgb(42, 42, 42);
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#view_users {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#user_link_text {
    font-size: 20px;
    padding-right: 20px;
}

.bx-user-circle {
    font-size: 30px;
    padding-right: 6px;
}

#add_books #title #add_book_link_text{
    background-color: white;
    padding: 10px;
}

#add_books #title{
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
}

#title{
    font-size: 30px;
    color: rgb(84, 83, 83);
    padding-left: 30px;
    padding-top: 30px;
}

#add_books #add_book_link_text{
    padding-top: 5px;
    color: black;
    text-decoration: none;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}

.bxs-book-add{
    font-size: 40px;
    color: #555;
    padding-right: 30px;
    top: 20px;

}

#book_list_id{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    min-height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#book_list_id tr th{
    background-color: lightgrey;
    color: rgb(31, 31, 31);
    text-align: center;
    font-weight: bold;
}

#book_list_id tr td{
    color: black;
    font-weight: 540;
    text-align: center;
}
#book_list_id th, #book_list_id td{
    padding: 12px 15px;
    border-right: 1px solid rgb(200, 199, 199);
}

#book_list_id, th, td{
    padding: 1rem;
    margin-right: 5rem;
}

#book_list_id td{
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;

}

#book_list_id tr:nth-of-type(even){
    background-color: whitesmoke;
}

#book_list_id tr:last-of-type{
    border-bottom: 4px solid lightgrey;
}

#id_form_popup {
    display: none;
    position: fixed;
    right: 35%;
    border: 3px solid #f1f1f1;
    z-index: 1000;
    background-color: white;
    padding: 30px;
    width: 400px;
    border-radius: 4px;
}

#id_form_popup:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#form_add_books h1{
    padding: 10px;
    color: #555;
    text-align: center;
}

#form_add_books{
    background-color: #ddd;
    outline: none;
}

#form_add_books input {
    display: block;
    width: 378.5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

#form_add_books input::placeholder{
    font-size:medium;
}

#id_book_genre {
    padding-left: 10px; 
    color: #555;
    top:10%;
    padding-bottom: 10px;
}

select{
    border: none;
    padding: 5px;
    color: #555;
    width:85%;
}

.book_cover_upload{
    padding-left: 10px;    
    color: #555;
}

#form_add_books .add_book_button{
    background-color: indigo;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#form_add_books .cancel_button{
    background-color: brown;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#form_add_books .add_book_button:hover .add_book_link_text:hover{
    opacity: 1;
}

/*Dark mode*/
/* #dark-topright{
    color: #fff;
    position:absolute;
    padding:10px;
    top:0;
    left:0;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.973);
    background-color: rgb(3, 37, 9);
    padding: 10px;
}

.dark_mode .nav{
    color:white;
    background-color: rgb(57, 39, 39);
} */

/* Top-right corner position for Page Appearance Settings (Dark Mode) */
#dark-topright{
    color: black;
    position:absolute;
    padding:10px;
    top:0;
    left:0;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.973);
    background-color: rgb(3, 37, 9);
    padding: 10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
/* Dark Mode feature */
.dark_mode{  
    background:rgb(20, 6, 6);
    color:white;
}