.booklist-container {
    padding: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Table styling */
  .book-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table-header {
    font-weight: bold;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .MuiTableCell-root {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  /* Styling for action buttons */
  .MuiButton-root {
    padding: 5px 15px;
    margin: 5px;
  }
  
  .MuiButton-contained {
    text-transform: none;
  }
  
  /* Padding for the popup overlay */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Popup form container */
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    border-radius: 4px;
}

#id_form_popup:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#form_add_books h1{
    padding: 10px;
    color: #555;
    text-align: center;
}

#form_add_books{
    background-color: #ddd;
    outline: none;
}

#form_add_books input {
    display: block;
    width: 378.5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

#form_add_books input::placeholder{
    font-size:medium;
}

#id_book_genre {
    padding-left: 10px; 
    color: #555;
    top:10%;
    padding-bottom: 10px;
}

select{
    border: none;
    padding: 5px;
    color: #555;
    width:85%;
}

.book_cover_upload{
    padding-left: 10px;    
    color: #555;
}

#form_add_books .add_book_button{
    background-color: indigo;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#form_add_books .cancel_button{
    background-color: brown;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#form_add_books .add_book_button:hover .add_book_link_text:hover{
    opacity: 1;
}

/*Dark mode*/
/* #dark-topright{
    color: #fff;
    position:absolute;
    padding:10px;
    top:0;
    left:0;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.973);
    background-color: rgb(3, 37, 9);
    padding: 10px;
}

.dark_mode .nav{
    color:white;
    background-color: rgb(57, 39, 39);
} */

/* Top-right corner position for Page Appearance Settings (Dark Mode) */
#dark-topright{
    color: black;
    position:absolute;
    padding:10px;
    top:0;
    left:0;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.973);
    background-color: rgb(3, 37, 9);
    padding: 10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
/* Dark Mode feature */
.dark_mode{  
    background:rgb(13, 48, 16);
    color:white;
}