*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    color:white
}

.link-styles{
    color: #fff;
    padding:10px;
    font-size: large;
    box-shadow: 0 0 10px rgba(248, 248, 248, 0.973);
    background-color: rgb(3, 37, 9);
    padding: 10px;
}